{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{%static 'mysite/dashboard.css'%}">
   <!--<script src="{% static 'mysite/dashboard_script.js'%}"></script>-->
</head>
<body>
  <div class='scene-button'>
    <div class='btn'>
      
    </div>
  </div>

  <div class="webname">
    <svg viewBox="0 0 1200 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Park It Down</text>
      </symbol>

      <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>
  {% if loginstatus == 'NotLogedin' %}
  <a class="homeBtn" href="{% url 'sign'%}">Sign In/Up</a>
  {% endif %}
  {% if loginstatus == 'Logedin' %}
  <form method="post">
  {% csrf_token %}
  <div class="action">
    <div class="profile" onclick="menuToggle()">
      <img src="{% static 'mysite/profile_image.png'%}" alt="">
    </div>
    <div class="menu">
      <h3>{{nameofuser}}</h3>
      <ul>
        <li><img src="{% static 'mysite/My_Profile.png'%}" alt=""><a href="">Home</a></li>
        <li><img src="{% static 'mysite/Book_parking_slot.png'%}" alt=""><a href="{% url 'booked'%}">Your Booked Slot</a></li>
        <li><img src="{% static 'mysite/Lend_your_space.png'%}" alt=""><a href="{% url 'land Your Space'%}">Lend your Space</a></li>
        <li><img src="{% static 'mysite/Logout.png'%}" alt=""><input type="submit" name="logout" value="Logout" style="background: none;border: none;color: #fff;font-size: 16px;"></li>
      </ul>
    </div>
  </div>
</form>
  {% endif %}
  <form method="post" autocomplete="off">
  <div class="search-container">
    {% csrf_token %} 
    <input type="text" placeholder="Search..." autocomplete="off" name="search_city" data-search>
    <div class="search"></div>
  </div>  
  </form>

  <div class="card-container" data-park-cards-container>
    <template data-park-template class="testtemp">
      <form method="post" autocomplete="off">
        {% csrf_token %} 
        <div class="card">
          <img data-img style="height: 148.66px;">
          <div class="park-desc">
            <div class="title-city-category">
              <h5 data-category></h5>
              <h4 data-title style="font-size: 1em;"></h4>
              <span><img src="{% static 'mysite/Location.png'%}" alt=""><h5 data-city></h5><h5>-</h5><h5 landmark></h5><span>
            </div>
            <div class="park-desc-price">
              <div class="subprice">
              <h4 data-price style="font-size: 1.1em;"> </h4><sub>/ Day</sub>
              </div>
              <button class="cardbtn" name="dashbtn" valtocard>View</button>
            </div>
          </div>
        </div>
      </form>
    </template>
  </div>
  

  <script>
    function menuToggle() {
      const toggleMenu = document.querySelector('.menu');
      toggleMenu.classList.toggle('active')
    }
  </script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script>
    $(document).ready(function(){
      $("#btn_click").on("click", function(){
        $(".btn-h1 span").addClass("btn_ghost").delay(1000).queue(function(){
          $(".btn-line").addClass("btn_gone");
          $(".btn-author").addClass("btn_gone");
          $(".btn-copy").addClass("btn_gone");
          $(".btn-button").addClass("btn_gone").delay(500).queue(function(){
            $(".btn-info").addClass("btn_white");
            $(".btn").addClass("btn_shrink").delay(1000).queue(function(){
              $(".scene-button").css("display", "none");
              $(".scene-spinner").css("display", "flex").delay(4500).queue(function(){
                $(".scene-spinner").css("display", "none");
                $(".scene-torus").css("display", "flex").delay(9000).queue(function(){
                  $(".scene-torus").css("display", "none");
                  $(".scene-hole").css("display", "flex").delay(6500).queue(function(){
                    $(".scene-hole").css("display", "none");
                    $(".scene-polygon").css("display", "flex");
                  });
                });
              });
            });
          });
        });
      });
    });
  </script>

<!---------------------------------------------------->  
<script>
    const parkingCardTemplate = document.querySelector("[data-park-template]")
    const parkingCardContainer = document.querySelector("[data-park-cards-container]")
    const searchInput = document.querySelector("[data-search]")
    let parkingCards = []

    searchInput.addEventListener("input", e => {
        const value = e.target.value.toLowerCase()
        console.log(value)
        parkingCards.forEach(user => {
            const isVisible = user.city.toLowerCase().includes(value) || user.landmark.toLowerCase().includes(value)

            user.element.classList.toggle("hide", !isVisible)
        })
    })

    fetch("{% static 'mysite/dash.json'%}")
        .then(res => res.json())
        .then(data => {
            parkingCards = data.map(user => {
                const card = parkingCardTemplate.content.cloneNode(true).children[0]
                const category = card.querySelector("[data-category]")
                const title = card.querySelector("[data-title]")
                const city = card.querySelector("[data-city]")
                const imagespark = card.querySelector("[data-img]")
                const valuetocard = card.querySelector("[valtocard]")
                const price = card.querySelector("[data-price]")
                const landmark = card.querySelector("[landmark]") 
                category.textContent = user.fields.type
                title.textContent = user.fields.title
                city.textContent = user.fields.city
                price.textContent = user.fields.price
                imagespark.src = `${user.fields.image}`
                //console.log(images.src)
                valuetocard.value = user.pk
                landmark.textContent = user.fields.landmark
                console.log(valuetocard.value)
                parkingCardContainer.append(card)
                //return { category: user.category, title: user.title, location: user.location, price: user.price, element: card }
                return {title: user.fields.title, city: user.fields.city, price: user.fields.price,imagespark : user.fields.image ,valuetocard :user.fields.username,landmark:user.fields.landmark,element: card }
            })        
        })
  </script>



</body>
</html>