{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp / Login</title>
    <link rel="stylesheet" href="{%static 'mysite/Sign_up_in.css'%}">
</head>
<body>
    <a class="homeBtn" href="{% url 'Dashboard'%}">HOME</a>
  <div class="user_options-container">
      <div class="user_options-text">
        <div class="user_options-unregistered">
          <h2 class="user_unregistered-title">Don't have an account?</h2>
          
          <button class="user_unregistered-signup" id="signup-button">Sign up</button>
        </div>
  
        <div class="user_options-registered">
          <h2 class="user_registered-title">Have an account?</h2>
          
          <button class="user_registered-login" id="login-button">Login</button>
        </div>
      </div>
      
      <div class="user_options-forms" id="user_options-forms">
        <div class="user_forms-login">
          <h2 class="forms_title">Login</h2>
          {% if email_not_found == 'noemail' %}
          <h3 style="color: red;margin-top: -30px;text-align: center;">User not found</h3>
          {% endif %}
          {% if invalidcred == 'invalid' %}
          <h3 style="color: red;margin-top: -30px;text-align: center;">Invalid Credentials</h3>
          {% endif %}
          <form class="forms_form" method="post" autocomplete="off">
            {% csrf_token %}
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input type="email" placeholder="Email" class="forms_field-input" required autofocus name="lemail" />
              </div>
              <div class="forms_field">
                <input type="password" placeholder="Password" class="forms_field-input" required name="lpass" />
              </div>
            </fieldset>
            <div class="forms_buttons">
              <a type="button" class="forms_buttons-forgot" href="{% url 'ForgetPass'%}">Forgot password?</a>
              <input type="submit" value="Log In" class="forms_buttons-action" name="login">
            </div>
          </form>
        </div>
        <div class="user_forms-signup">
          <h2 class="forms_title">Sign Up</h2>
          <form class="forms_form" method="post" autocomplete="off">
            {% csrf_token %}
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input type="text" placeholder="Full Name" class="forms_field-input" required name="fullname" />
              </div>
              <div class="forms_field">
                <input type="email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$" placeholder="Email" class="forms_field-input" required name="semail"/>
              </div>
              <div class="forms_field">
                <input type="password" placeholder="Password" class="forms_field-input" required name="spass"/>
              </div>
            </fieldset>
            <div class="forms_buttons">
              <input type="submit" value="Sign up" class="forms_buttons-action" name="signup">
            </div>
          </form>
        </div>
      </div>
    </div>
   
    <script>
      const signupButton = document.getElementById('signup-button'),
      loginButton = document.getElementById('login-button'),
      userForms = document.getElementById('user_options-forms')

  
      signupButton.addEventListener('click', () => {
        userForms.classList.remove('bounceRight')
        userForms.classList.add('bounceLeft')
      }, false)

  
      loginButton.addEventListener('click', () => {
        userForms.classList.remove('bounceLeft')
        userForms.classList.add('bounceRight')
      }, false)
    </script>
</body>
</html>